<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Hello,</p>
  <p>
    Somebody has eyes for you, and is careful enough to find out if your genotypes are compatible on our platform {{appName}}
  </p>
  <p>Please click the link below to provide us your data, so we can run a successful match.</p>
  <a href="{{url}}">Click here to add data</a>
  <br />
  <p>NOTE: The system will not reveal your data to anyone. A match will be done and only the result will be revealed to the person that requested a genotibile check.<p>
  <p>The {{appName}} Support Team</p>
</body>

</html>